{{ define "Header" }}
<!DOCTYPE html>
<html lang="en-US">
    <head>
        <title>Go User Management App</title>
        <meta charset="UTF-8" />
        <link rel="icon" href="../img/go-lang.png">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
     <div class="container">
        <a class="navbar-brand">Go PostgreSQL User Management</a>
     </div>
    </nav>

{{ end }}