{{ define "Show" }}
  {{ template "Header" }}
    {{ template "Menu"  }}
    <h2>User</h2>
      <p>ID: {{ .Id }}</p>
      <p>Name: {{ .Name }}</p>
      <p>City:  {{ .City }}</p><br /> <a href="/edit?id={{ .Id }}">Edit</a></p>
  {{ template "Footer" }}
{{ end }}